@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Registro de Enfermedades Crónicas Familiares</h2>
    
</div>

<div class="row">
    <label for="Name">Inicie para registrar nuevo caso</label>

    <a href="@Url.Action("Buscar", "doctor")">Ingresar</a>
</div>